/* Reset some basic stuff */
body, h1, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
  padding: 40px;
}

h1 {
  font-family: "Inter", Arial, sans-serif;
  color: #333333;
  margin-bottom: 20px;
  font-size: 45px;
}

h2 {
  font-family: "Inter", Arial, sans-serif;
  color: #333333;
  margin-top: 65px;
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  font-family: "Inter", Arial, sans-serif;
  margin-bottom: 30px;
  font-size: 18px;
}

nav {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  font-family: "Inter", Arial, sans-serif;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

ul li::before {
  content: "●";
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
}

